
<section class="container-fluid page-404">


<div class="panel panel-<?php echo $code == 0 ? 'success' : 'warning'; ?>">
      <div class="panel-heading">
        <h3 class="panel-title">
            温馨提示
        </h3>
      </div>
      <div class="panel-body">
        <h5 class="text-<?php echo $code == 0 ? 'success' : 'warning'; ?>"> <i class="glyphicon glyphicon-<?php echo $code == 0 ? 'ok' : 'remove'; ?> margin-right" style="font-size:20px">
            </i><?php echo $message;?></h5>

      </div>
      <div class="panel-footer"> 您可以：
            <a class="c-primary" href="javascript:;" onclick="history.go(-1)">
                返回上一页
            </a>
            <span class="ml-20">
                |
            </span>
            <a class="c-primary" href="/">
                去首页
            </a></div>
    </div>

    
</section>
