

	</div>
	<div class="" id="footer">
		<div class="container text-center" style="overflow: hidden;">
			Copyright © 2010-2019 5iSNS实验室
			<span style="display:inline-block; margin:0 10px;"></span>
			<a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow"></a> 
		</div>
	</div>
</div>


<script src="../public/common/js/jquery.min.js"></script>
<script src="../public/bootstrap/js/bootstrap.min.js"></script>
<script src="../public/common/js/common.js"></script>
	<link rel="stylesheet" href="../public/common/css/common.css">

</div></body>
</html>