<?php $conf = G('conf');?>

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="5iSNS实验室" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="renderer" content="webkit" />
	<title>5iSNS 安装向导</title>
	
	<link rel="shortcut icon" href="../public/common/images/favicon.ico" />
	<link rel="icon" sizes="32x32" href="../public/common/images/favicon.ico">
	<link rel="Bookmark" href="../public/common/images/favicon.ico" />
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css">

	<link rel="stylesheet" href="view/htm/install.css">
<link href="../public/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
</head>

<body>
	
	
	
	<div id="wrapper">
	
		<nav class="navbar navbar-default" id="header">
			<!-- pc navigation -->
			<div class="container">
				<div class=" navbar-nav" >
					<div class="nav-item">
						<img src="../public/common/images/logowhite.png" class="logo-2">
					</div>
					
				</div>
				<div class="pull-right nav-item">
					5iSNS <small class="text-danger">v<?php echo $conf['version'];?></small> 安装向导
				</div>
			</div>
		</nav>
		
		<div id="body" class="container main">