<?php include INSTALL_PATH.'view/htm/header.inc.htm';?>

<div class="card">
	<div class="card-body">
		<h3 class="card-title mt-3">5iSNS 中文版授权协议</h3>
		<hr />
		<pre style="white-space: pre-wrap; word-wrap: break-word;">感谢您选择5iSNS开源系统，它是一款国产、小巧、稳定、支持在大数据量下仍然保持高负载能力的SNS开源系统。该系统支持无限的模块扩展、插件扩展。集成有帖子文章、文档等功能模块，并兼备社交功能。
		
	
警告：按照我国法律，在未取得相关资源（影片、动画、图书、音乐等）授权的情况下，请不要传播任何形式的相关资源（资源数据文件、种子文件、网盘文件、FTP 文件等）！否则后果自负。
		
2019年04月30日
		</pre>
	
		<div class=""><button class="btn btn-primary" onClick="window.location='index.php?action=env'">同意协议继续安装</button></div>
	</div>
</div>


<?php include INSTALL_PATH.'view/htm/footer.inc.htm';?>