<?php include ADMIN_PATH.'view/header.html';?>

<div class="row">
	<div class="col-lg-12">
		<div class="wrap">
	   <ul class="nav nav-tabs">
        <li class="active"><a>清理缓存</a></li>

    </ul>
     </div>
		<div class="card">
			<div class="card-body">
				
				<form  class="form-horizontal" action="<?php echo r_url('sys-cache');?>" method="post" id="form">
				
					<div class="form-group ">
						<label class="col-sm-2 form-control-label">清理临时目录：</label>
						<div class="col-sm-1">
							<?php echo $input['clear_tmp'];?>
						</div>
					</div>
					
					<div class="form-group ">
						<label class="col-sm-2 form-control-label">清理缓存：</label>
						<div class="col-sm-1">
							<?php echo $input['clear_cache'];?>
						</div>
					</div>
						<div class="form-group ">
						<label class="col-sm-2 form-control-label">清理附件|图片|文档：</label>
						<div class="col-sm-1">
							<?php echo $input['clear_file'];?>
						</div>
						<p class="col-sm-3 text-danger ">文件较多时清理，清理比较耗时</p>
					</div>
						<div class="form-group ">
						<label class="col-sm-2 form-control-label">清理日志：</label>
						<div class="col-sm-1">
							<?php echo $input['clear_log'];?>

						</div>
<p class="col-sm-3 text-danger ">日志文件包含网站执行日志、错误日志等</p>
					</div>	

					<div class="form-group ">
						<label class="col-sm-2 form-control-label">
<button type="submit" class="btn btn-primary btn-block" id="submit" data-loading-text="确定中...">确定</button>
						</label>
						
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


	
<?php include ADMIN_PATH.'view/footer.html';?>

<script>
var jform = $('#form');
var jsubmit = $('#submit');
jform.on('submit', function() {

	jsubmit.button('loading');
	var postdata = jform.serialize();
	$.xpost(jform.attr('action'), postdata, function(code, ret) {
		
		if(code == 0) {
			$.sns5i_notify(ret.message,'success');
			jsubmit.text(ret.message).delay(1000).button('reset');
		} else if(xn.is_number(code)) {
			alert(ret.message);
			jsubmit.button('reset');
		} else {
			jform.find('[name="'+code+'"]').alert(ret.message).focus();
			jsubmit.button('reset');
		}
	});
	return false;
});

$('#nav li.nav-item-other').addClass('active');

</script>

<!--{hook admin_other_cache_js.htm}-->
