<?php include ADMIN_PATH.'view/header.html';?>
<div class="wrap">
    <ul class="nav nav-tabs">
        <li class="active"><a>文档列表</a></li>
       
    </ul>
    <form class="well form-inline wi-margin-top" method="post" action="<?php echo r_url('doc-list'); ?>">
      
        <label class="">文档标题：</label>
        <input class="form-control" type="text" name="title" value="<?php echo param('title'); ?>" >
       
        <input type="submit" class="btn btn-primary" value="搜索">
       
    </form>
   
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>标题</th>
               
               
               <th>关键词</th>
               <th>推荐</th>
               <th>置顶</th>
               <th>页码</th>
                <th>操作</th>
             
            </tr>
            </thead>
            <tbody>
            	<?php foreach($topicslist as $key=>$vo) { ?>
                            <tr id="topiclist_<?php echo $vo['id']; ?>">
                            		<td>
										<?php echo $vo['id']; ?></td>
									<td>
										<?php echo $vo['title']; ?>
									</td>
								
							
									
                                                <td>

  <?php echo $vo['keywords']; ?>

                                    </td>
                                    <td>



    <input type="checkbox" data-url="<?php echo r_url('doc-cstatus',['id'=>$vo['id']]); ?>" data-field="choice" data-trueval="1" data-falseval="0" data-mess="推荐" data-falsemess="取消推荐" class="switch"  data-size="mini" data-on="primary" data-off="info" data-off-text="普通" data-on-text="推荐"  <?php echo $vo['choice']?'checked':''; ?>  />
 

                  </td>
                  <td>



    <input type="checkbox" data-url="<?php echo r_url('doc-cstatus',['id'=>$vo['id']]); ?>" data-field="settop" data-trueval="1" data-falseval="0" data-mess="置顶" data-falsemess="取消置顶" class="switch"  data-size="mini" data-on="primary" data-off="info" data-off-text="普通" data-on-text="置顶"  <?php echo $vo['settop']?'checked':''; ?>  />
 

                  </td>
								<td>
                    <?php echo $vo['pageid'];
                    if($vo['status']==0){echo '<br>未转换';}elseif($vo['status']==2){echo '<br>正在转换';}else{echo '<br>已转换';} ?>
                  </td>
									<td>





									   <div class="btn-group btn-group-xs" role="group" aria-label="Extra-small button group">
    
<?php if($vo['status']==1){?>
     <button type="button" class="jhcz btn btn-warning" data-removeclassname="btn-warning" data-classname="btn-success" data-title="通过" data-val="<?php echo $vo['status']; ?>" data-url="<?php echo r_url('doc-forbidden',['id'=>$vo['id']]); ?>">待审</button>

<?php }else{ ?>
     <button type="button" class="jhcz btn btn-success" data-removeclassname="btn-success" data-classname="btn-warning" data-title="待审" data-val="<?php echo $vo['status']; ?>" data-url="<?php echo r_url('doc-forbidden',['status'=>$vo['status'],'id'=>$vo['id']]); ?>">通过</button>
<?php } ?>

      <button type="button" data-url="<?php echo r_url('doc-edit',['id'=>$vo['id']]); ?>" data-id="doceditform" data-title="<?php echo $vo['title'] ?>-编辑文档" class="openformdialog btn btn-primary">编辑</button>
      <button type="button" data-title="确认删除该文档吗？" data-name="topiclist_<?php echo $vo['id'] ?>" data-url="<?php echo r_url('doc-delete',['id'=>$vo['id']]); ?>" class="btn btn-danger deletebtn">删除</button>
<?php if($vo['pageid']==0){ ?>
<a href="<?php echo r_url('doc-tran',['id'=>$vo['id']]); ?>" style="line-height: 27px;" target="_blank" class="btn btn-info">转换</a>

    <?php } ?>
    </div>
     
									</td>
                   
                </tr>
                     <?php } ?>      
                        </tbody>
        </table>
       


   
</div>
<div class="pagediv">
        <div class="pagination"><?php echo $pagination; ?></div>
</div>

<?php include ADMIN_PATH.'view/footer.html';?>

<?php if($conf['cdn_use']){ ?>
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap-switch/3.3.4/css/bootstrap3/bootstrap-switch.min.css">
<script src="https://cdn.bootcss.com/bootstrap-switch/3.3.4/js/bootstrap-switch.min.js"></script>

<?php }else{?>
<script src="<?php echo $conf['public_dir']; ?>bootstrap/js/bootstrap-switch.js"></script>
<link rel="stylesheet" href="<?php echo $conf['public_dir']; ?>bootstrap/css/bootstrap-switch.css">
<?php }?>


<script type="text/javascript">
$(function(){
  bootstrap_Switch();
});</script>