<?php include ADMIN_PATH.'view/header.html';?>
<div class="wrap">
    <ul class="nav nav-tabs">
        <li class="active"><a>轮播图列表</a></li>

    </ul>
    <form class="well form-inline wi-margin-top" method="post" action="<?php echo r_url('docslider-list'); ?>">
      
        <label class="">轮播图名称：</label>
        <input class="form-control" type="text" name="title" value="<?php echo param('title'); ?>" >
       
        <input type="submit" class="btn btn-primary" value="搜索">
        <button type="button"  data-url="<?php echo r_url('docslider-add'); ?>" data-id="docslideraddform" data-width="100%" data-height="100%" data-title="新增轮播图" class="openformdialog btn btn-success">新增</button>
    </form>
   
        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>排序</th>
                <th>图片</th>
                <th>描述</th>
                <th>类型</th>
                <th>文档ID或外链</th>
                <th>操作</th>
             
            </tr>
            </thead>
            <tbody>
            	<?php foreach($docsliderlist as $key=>$vo) { ?>
                            <tr id="docsliderlist_<?php echo $vo['id']; ?>">
                            		<td>
										<?php echo $vo['id']; ?></td>
									<td>
										<?php echo $vo['title']; ?>
									</td>
									<td>
									     <?php echo $vo['sort']; ?>
									</td>
								<td>
									
									   <img style="height:30px;width:30px;" src="<?php echo find_image_by_id($vo['cover_id']); ?>">   
									</td>
										<td>

  <?php echo $vo['description']; ?>

									</td>
								<td>

  <?php if($vo['type']==1){echo '文档ID';}else{echo '外链';} ?>

                                    </td>

    <td>
 <?php echo $vo['url']; ?>

                                    </td>


									<td>





									   <div class="btn-group btn-group-xs" role="group" aria-label="Extra-small button group">
    
<?php if($vo['status']==1){?>
     <button type="button" class="jhcz btn btn-warning" data-removeclassname="btn-warning" data-classname="btn-success" data-title="启用" data-val="<?php echo $vo['status']; ?>" data-url="<?php echo r_url('docslider-forbidden',['id'=>$vo['id']]); ?>">禁用</button>

<?php }else{ ?>
     <button type="button" class="jhcz btn btn-success" data-removeclassname="btn-success" data-classname="btn-warning" data-title="禁用" data-val="<?php echo $vo['status']; ?>" data-url="<?php echo r_url('docslider-forbidden',['status'=>$vo['status'],'id'=>$vo['id']]); ?>">启用</button>
<?php } ?>

      <button type="button" data-url="<?php echo r_url('docslider-edit',['id'=>$vo['id']]); ?>" data-id="docslidereditform" data-width="100%" data-height="100%" data-title="<?php echo $vo['title'] ?>-编辑轮播图" class="openformdialog btn btn-primary">编辑</button>
      <button type="button" data-title="确认删除该轮播图吗？" data-name="docsliderlist_<?php echo $vo['id'] ?>" data-url="<?php echo r_url('docslider-delete',['id'=>$vo['id']]); ?>" class="btn btn-danger deletebtn">删除</button>
    </div>
									</td>
                   
                </tr>
                     <?php } ?>      
                        </tbody>
        </table>
       

   
</div>
<div class="pagediv">
        <div class="pagination"><?php echo $pagination; ?></div>
</div>

<?php include ADMIN_PATH.'view/footer.html';?>

<script>


</script>
