<?php include ADMIN_PATH.'view/header.html';?>
<div class="wrap">
    
    <form class="form-horizontal" id="messageaddform" method="post" data-url="<?php echo r_url('message-add'); ?>">
       <div class="form-group">
                <label class="col-sm-1 control-label">
                    内容
                </label>
                <div class="col-sm-11">
                    <textarea name="content" style="height:200px;width:100%;"></textarea>
                </div>
            </div>
 
     
    </form>
 </div>

<?php include ADMIN_PATH.'view/footer.html';?>

