<?php include ADMIN_PATH.'view/header.html';?>
<div class="wrap">
    <ul class="nav nav-tabs">
        <li class="active"><a>插件列表</a></li>
       
    </ul>

   
        <table class="table table-hover table-bordered wi-margin-top">
            <thead>
            <tr>
                <th>插件名称</th>
                <th>描述</th>
                <th>作者</th>
               
               <th>版本</th>
               <th>状态</th>
               
                <th>操作</th>
             
            </tr>
            </thead>
            <tbody>
            	<?php foreach($plugins_list as $key=>$vo) { ?>
                            <tr id="topiclist_<?php echo $vo['name']; ?>">
                            		<td>
										<?php echo $vo['cnname']; ?></td>
									<td>
										<?php echo $vo['description']; ?>
									</td>
                  <td>
                    <?php echo $vo['author']; ?>
                  </td>
                  <td>
                    <?php echo $vo['version']; ?>
                  </td>
									
							
									   <td>


<?php if($vo['is_install']){ ?>
    <input type="checkbox" data-url="<?php echo r_url('plugins-cstatus',['id'=>$vo['id']]); ?>" data-field="status" data-trueval="1" data-falseval="0" data-mess="启用" data-falsemess="禁用" class="switch"  data-size="mini" data-on="primary" data-off="info" data-off-text="禁用" data-on-text="启用"  <?php echo $vo['status']?'checked':''; ?>  />
 <?php }else{echo '未安装';} ?>

                  </td>
                               
								
									<td>





									   <div class="btn-group btn-group-xs" role="group" aria-label="Extra-small button group">
    
<?php if($vo['is_install']){ ?>

<button type="button" data-title="确认卸载该插件吗？"  data-url="<?php echo r_url('plugins-uninstall',['name'=>$vo['name'],'id'=>$vo['id']]); ?>" class="btn btn-danger confirm_btn">卸载</button>
<?php if($vo['has_config']==1){?>
      <button type="button" data-url="<?php echo r_url('plugins-config',['id'=>$vo['id']]); ?>" data-id="plugins_config_form" data-title="<?php echo $vo['cnname'] ?>-配置" class="openformdialog btn btn-primary">配置</button>
   <?php } ?> 
   <?php if($vo['has_admin']==1){?>
      <a style="line-height:27px;" href="<?php echo r_url('plugins-manage',['plugin_name'=>$vo['name']]); ?>" data-title="<?php echo $vo['cnname'] ?>-数据" class=" btn btn-primary">数据</a>
   <?php } ?>  
<?php }else{ ?>
  <button type="button" data-title="确认安装该插件吗？"  data-url="<?php echo r_url('plugins-install',['name'=>$vo['name'],'install'=>$vo['is_install']]); ?>" class="btn btn-info confirm_btn">安装</button>


<?php } ?>

 
    </div>
									</td>
                   
                </tr>
                     <?php } ?>      
                        </tbody>
        </table>
       


   
</div>
<div class="pagediv">
       
</div>

<?php include ADMIN_PATH.'view/footer.html';?>

<?php if($conf['cdn_use']){ ?>
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap-switch/3.3.4/css/bootstrap3/bootstrap-switch.min.css">
<script src="https://cdn.bootcss.com/bootstrap-switch/3.3.4/js/bootstrap-switch.min.js"></script>

<?php }else{?>
<script src="<?php echo $conf['public_dir']; ?>bootstrap/js/bootstrap-switch.js"></script>
<link rel="stylesheet" href="<?php echo $conf['public_dir']; ?>bootstrap/css/bootstrap-switch.css">
<?php }?>


<script type="text/javascript">
$(function(){
  bootstrap_Switch();
});</script>