<?php include ADMIN_PATH.'view/header.html';?>
<div class="wrap">
    
    <form class="form-horizontal" id="topicslideraddform" method="post" data-url="<?php echo r_url('topicslider-add'); ?>">
   
  <div class="form-group">
    <label class="col-sm-1 control-label">名称</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="title" name="title" placeholder="">
    </div>
  </div>
 
  <div class="form-group">
    <label class="col-sm-1 control-label">排序</label>
    <div class="col-sm-2">
      <input type="text" class="form-control"  id="sort" name="sort" placeholder="数字越大越靠前">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-1 control-label">类型</label>
    <div class="col-sm-2">
      <?php echo $input['type']; ?>
    </div>
  </div>
<div class="form-group">
    <label class="col-sm-1 control-label">文章ID或外链</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="url" name="url" placeholder="文章的ID或者外链">
    </div>
  </div>
<div class="form-group">
   <label class="col-sm-1 control-label">图片</label>
   <div class="col-sm-6">
       <div class="input-group" >
        <input type="hidden" name="cover_id" id="cover_id" />
        <div id="uploadfile"></div>
      
       </div>
        <p class="mt-2 text-grey small">支持png,jpg格式。不大于2M</p>
   </div>
  
</div>
<div class="form-group row">
            <label class="col-sm-1 form-control-label">介绍：</label>
            <div class="col-sm-10">
              <?php echo form_textarea('description', '', '100%', 100);?>
              <p class="mt-2 text-grey small">注：支持 HTML 标签，换行请使用 &lt;br&gt;</p>
            </div>
          </div>
     
    </form>
 </div>

<?php include ADMIN_PATH.'view/footer.html';?>
<script>

  wi.upload_file(
    xn.url('attach-create-image',1),
    {id:'location',inputid:'inputid',fileid:'fileid',divid:'uploadfile'},
    {width: 100, height: 100, action: 'thumb'},
    function(code, json) {
    // 成功
    if(code == 0) {
      $('#cover_id').val(json.id);
      $.sns5i_notify('上传成功','success');
    } else {
      
    }
  },function(){});</script>
