<div class="webFoot fk-footer">
	
	
	<div class="fk-footer-splitLine"></div>
	<div class="foot middle f-foot">
		<div class="footLinks">
			<?php 
                             foreach($nav_bottom as $key=>$vo) {  
                             echo '<span><a hidefocus="true" href="'.nav_url($vo['link']).'" target="'.$vo['target'].'">'.$vo['name'].'</a></span>';
                               } 
                     ?> 
		
		<span><a hidefocus="true" href="/sitemap.xml">站内地图</a></span>
		

		</div>
		<div class="footCpy">
			

			Copyright <font style="font-family:'微软雅黑';">©</font> 2019-2029 <a href="http://www.5isns.com/" target="_blank" rel="nofollow">5isns内容付费系统</a>
			<span style="display:inline-block; margin:0 10px;">|</span><a href="http://www.miitbeian.gov.cn/" target="_blank" rel="nofollow"><?php echo $conf['beinum'] ?></a> 
			<span style="display:inline-block; margin:0 10px;">|</span>Processed: <b><?php echo substr(microtime(1) - $starttime, 0, 5);?></b>
			
			
		</div>
	</div>
</div>

<?php if($conf['cdn_use']){ ?>

<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<?php }else{?>
<script src="<?php echo $conf['public_dir']; ?>common/js/jquery.min.js"></script>   
<script src="<?php echo $conf['public_dir']; ?>bootstrap/js/bootstrap.min.js"></script>
<?php }?>

<script src="<?php echo $conf['public_dir']; ?>common/js/common.js"></script>
<script src="<?php echo $conf['view_dir']; ?>res/js/app.js"></script>


<?php echo  $plugin->run('tongji','show'); ?>
</body>
</html>