<?php include $conf['view_path'].'header.inc.html';?>
		<div class="main-wrapper">
			<div class="container wi-padding-top">
			<div class="row">
				<div class="col-md-9 col-sm-12 bb">
					<?php include $conf['view_path'].'ucenter_left_top.html';?>	

					<div class="" style="padding-top:0px">
						<div class="">
							<!--<div class="dongtai">-->
								<!--<ul class="trigger-menu" data-pjax-container="#list-container">

									<?php if(in_array('topics',$conf['module_arr'])){ ?>
									<li class="<?php if($type==1){ echo 'active'; } ?>"><a href="<?php echo r_url('user-'.$_user['id'].'-1'); ?>" target="_self"><i class="fa fa-rss"></i>文章</a></li>
<?php } 
 if(in_array('docs',$conf['module_arr'])){ ?>




									<li class="<?php if($type==2){ echo 'active'; } ?>"><a href="<?php echo r_url('user-'.$_user['id'].'-2'); ?>" target="_self"><i class="fa fa-newspaper-o"></i>文档</a></li>
		<?php } ?>							
								</ul>-->

			

<!--
	  <div class="tag-artlist">
					 <ul >

<?php if($type==2) {foreach($topicslist as $key=>$vo) { ?>


 <li class="">
              <section class="question-list-item">
    <div class="qa-rank">
       <?php if($vo['settop']==1){?>
        <div class="answers  top">
         <i class="fa fa-cloud-upload"></i><small>置顶</small>
        </div>
        <?php } ?> 
         <?php if($vo['choice']==1){?>
        <div class="answers  solved">
         <i class="fa fa-thumbs-o-up"></i><small>推荐</small>
        </div>
        <?php } ?> 
         <div class="answers answered ">
         <?php echo $vo['view']; ?><small> 浏览</small>
        </div>
       
    </div>
    <div class="summary">
        <h2 class="title">
            <a href="<?php echo r_url('doc-'.$vo['id'],'','docs'); ?>">
             <span title="doc" class="ic ic-<?php echo $vo['fileinfo']['ext']; ?>"></span>&nbsp;&nbsp;<?php echo $vo['title']; ?></a>

                        <div class="tags">
                          <?php if(!empty($vo['keywords'])){

foreach($vo['keywords_arr'] as $k=>$v) { ?>

<a class="tag" href="<?php echo r_url('tags-'.$v['id']); ?>" target="_self">
  <?php echo $v['name']; ?>
</a>

<?php }} ?>
</div>
                    </h2>
            <p class="uk-article-meta">
             
                                    <span>大小:<?php echo humansize($vo['fileinfo']['size']); ?></span>
                                    <span>页数:<?php echo $vo['pageid']; ?></span>
                                    <span>评分:<i class="wenku-star <?php echo $vo['ratystar']; ?>"></i><?php echo $vo['raty']; ?> 分</span>
                                    <span>上传时间:<?php echo $vo['create_time_fmt']; ?></span>
            
               
            
        
                
              </span>
            </p>
       
    </div>
</section>
            
          </li>

<?php }}elseif($type==1) {  foreach($topicslist as $key=>$vo) { ?>
            <li class="">
              <section class="question-list-item">
    <div class="qa-rank">
      
         <div class="answers answered ">
         <?php echo $vo['view']; ?><small> 浏览</small>
        </div>
       
    </div>
    <div class="summary">
        <h2 class="title">
            <a href="<?php echo r_url('thread-'.$vo['id'],'','topics'); ?>">
             <?php echo $vo['title']; ?></a>

                        <div class="tags">
                          <?php if(!empty($vo['keywords'])){

foreach($vo['keywords_arr'] as $k=>$v) { ?>

<a class="tag" href="<?php echo r_url('tags-'.$v['id']); ?>" target="_self">
  <?php echo $v['name']; ?>
</a>

<?php }} ?>
</div>
                    </h2>
            <p class="uk-article-meta">
               
              <span class="uk-vertical-align-middle">
              
                发布于 </span>
               
                <span>
                 <?php echo $vo['create_time_fmt']; ?>
                </span>
        
                
              </span>
            </p>
       
    </div>
</section>
            
          </li>
						 
            <?php }} ?>    






					 </ul>
					
					 		<ul class="wi-margin-left pagination pull-left">
					     <?php echo $pagination; ?>
					     </ul>
					

      
      </div>-->


							</div>
						</div>


					</div>

				</div>
				

				<div class="col-md-3 col-sm-12">
					
					
					
					
					<!--<?php include $conf['view_path'].'ucenter_right.html';?>	-->



				</div>

			</div>

			</div>
		</div>
		<?php include $conf['view_path'].'footer.inc.html';?>
