<?php include $conf['view_path'].'header.inc.html';?>
<div class="main-wrapper">
<div class="container wi-padding-top" >
<div class="row" >
<div class="col-md-3 col-sm-12">
<?php include $conf['view_path'].'user_set_menu.html';?>				

				</div>
				<div class="col-md-9 col-sm-12">
					<div class="wi-padding bb">
						<h4>第三方登录</h4>
						<hr>
			
					<div class="thirdlogin wi-margin-top ">

                     

  
                     <table class="table table-striped" style="margin-top:20px;">
                                <tbody>

                                                                        <tr>
                                        <td><i class="fa fa-qq wi-margin-right"></i>QQ账号</td>
                                        <td>未绑定</td>
                                        <td><a href="#" target="_self">点击绑定</a></td>
                                    </tr>
                                                                                                            <tr>
                                        <td><i class="fa fa-weibo wi-margin-right"></i>sina微博</td>
                                        <td>未绑定</td>
                                        <td><a href="#" target="_self">点击绑定</a></td>
                                    </tr>
                                                                                                                 <tr>
                                        <td><i class="fa fa-wechat wi-margin-right"></i>微信登录</td>
                                        <td>未绑定</td>
                                        <td><a href="#" target="_self">点击绑定</a></td>
                                    </tr>
                                                                    </tbody>
                            </table>
                   </div>
					</div>
					
					
					





				</div>

			</div>
		</div>
		 <?php include $conf['view_path'].'footer.inc.html';?>